.best {
    background-image: url("/img/bg/best-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    text-align: center;
}

.section__title {
    font-family: Gagalin;
    font-size: 72px;
    line-height: 0.89;
    text-align: center;
    color: #2f3234;
    padding-top: 68px;
    padding-right: 15px;
    margin-bottom: 90px;
}

.best__item {
    margin: 0 15px;
    width: 300px;
}

.best__list {
    display: flex;
}

.best__title {
    font-family: Lifehack-medium;
    font-size: 24.1px;
    font-weight: 500;
    line-height: 1.17;
    text-align: center;
    color: #2f3234;
    margin-bottom: 25px;
    margin-top: 30px;
}

.best__description {
    opacity: 0.8;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    text-align: center;
    color: rgba(47, 50, 52, 0.8);
}