.heading {
    background-image: url("/img/bg/hero_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    font-family: Ubuntu;
}

.header {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.header__logo {
    width: 92px;
    height: 69px;
}

.header__menu {
    margin-top: 30px;
    text-align: right;
    margin-left: 190px;
}

.header__button {
    width: 97px;
    height: 35px;
    border-radius: 5px;
    background-color: #e45028;
    text-align: center;
    margin-top: 27px;
}

.header__button-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    vertical-align: -webkit-baseline-middle
}

.header__button:hover {
    background-color: #e44e28a6;
}

.nav__list {
    margin: 0;
    padding: 0;
}

.nav__item {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 500;
    line-height: 2.31;
    text-align: right;

&:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 15px;
    margin-left: 15px;
}

&:first-child:before  {
    display: none;
}

}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

.nav__link:hover {
    text-decoration: underline;
}

.main {
    display: flex;
    flex-direction: row;
}

.main__text {
    margin-top: 140px;
    margin-left: 15px;
}

.main__about {
    font-family: 'Lifehack-Medium';
    font-size: 65px;
    font-weight: 500;
    line-height: 1.31;
    letter-spacing: -1.6px;
    text-align: left;
    color: #ffffff;
}

.main__title {
    font-family: Gagalin;
    font-size: 72px;
    font-weight: normal;
    line-height: 1.18;
    letter-spacing: normal;
    color: $yellow;
}
